/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset & Custom Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(172, 250, 248, 0.87);
  background-color: #f5eded;
  --dark-accent: #1F3A64; /* Azul Marino (#1F3A64) */
  --light-background: #E6D7C5; /* Tono cálido */
  --light-accent: #D9A7B5; /* Rosa suave */
  --neutral-color: #B0B0B0; /* Gris neutro */
  --white-background: #F5F5F5;
}

body {
  line-height: 1;
  font-family: sans-serif;
  color: #333;
  background-color: var(--white-background);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
}

/* Light mode adjustments */
@media (prefers-color-scheme: light) {
  :root {
    color: #1F3A64;
    background-color: #ffffff;
  }
}

/* Header Styling */
.navbar {
  @apply w-full flex justify-around p-4;
  position: sticky;
  top: 0;
  z-index: 10;
  color: #1F3A64;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   /* Adding border to navbar */
  background-color: var(--white-background); /* Ensure background color */
}

.navbar-title {
  color: #1F3A64;
}

.header-title {
  @apply text-2xl font-bold tracking-wide hover:text-[#D9A7B5] transition-colors;
}

/* Navigation Styling */
.navbar-links {
  @apply flex space-x-4 font-bold tracking-wide hover:text-[#D9A7B5] transition-colors;
}

.navbar-item {
  @apply cursor-pointer px-2 py-1 rounded transition-colors duration-300;
}

.navbar-item:hover {
  color: #1F3A64;
  background-color: var(--light-accent);
}

.navbar-item.active {
  font-weight: bold;
  border-bottom: 2px solid #1F3A64; /* Add underline to active item */
}

/* Responsive Styles */
@media (max-width: 650px) {
  .header-title {
    display: none; /* Hide title when screen width is less than 650px */
  }
}

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl;
  line-height: 1.1;
  text-align: center;
  color: #1F3A64;
}

p {
  @apply text-base md:text-lg lg:text-xl;
  margin: 1em 0;
  color: #1F3A64;
}

/* Button Styling */
button {
  @apply rounded-lg border border-transparent py-2 px-4 text-base font-medium bg-gray-800 text-white transition hover:border-blue-800;
}

/* Navbar Link Styling */
a {
  color: #1F3A64; /* Link styling with hover */
}